<div class="post-text" itemprop="text">
<p>Answer: <strong>They're not different.</strong> Not exactly, anyway. Each group ends up describing the same verbs; they just arrive at their classification by different routes.</p>

<ul>
<li>All <span xml:lang="ja" lang="ja" class="ja-text">う</span>-verbs are <span xml:lang="ja" lang="ja" class="ja-text"><ruby class="ruby-rp"><rb lang="ja" class="ja-text">五段</rb><rt lang="ja" class="ja-text">ごだん</rt></ruby></span> verbs (and vice-versa).</li>
<li>All <span xml:lang="ja" lang="ja" class="ja-text">る</span>-verbs are <span xml:lang="ja" lang="ja" class="ja-text"><ruby class="ruby-rp"><rb lang="ja" class="ja-text">一段</rb><rt lang="ja" class="ja-text">いちだん</rt></ruby></span> verbs (and vice-versa).</li>
</ul>

<h2>う-verbs and る-verbs</h2>

<p>I learned the <span xml:lang="ja" lang="ja" class="ja-text">う</span>-/<span xml:lang="ja" lang="ja" class="ja-text">る</span>- distinction as well (as likely most English-speakers did), though under the guise of "Class 1", "Class 2", and "Class 3" (the two irregulars). How I learned to classify them is by the <strong>past-tense</strong> form, however. For example:</p>

<h3>Class 1</h3>

<blockquote>
  <p>～<span xml:lang="ja" lang="ja" class="ja-text">う、</span>～<span xml:lang="ja" lang="ja" class="ja-text">つ、</span>～<span xml:lang="ja" lang="ja" class="ja-text">る</span> ⇒ ～<span xml:lang="ja" lang="ja" class="ja-text">った</span><br>
  ～<span xml:lang="ja" lang="ja" class="ja-text">ぬ、</span>～<span xml:lang="ja" lang="ja" class="ja-text">む、</span>～<span xml:lang="ja" lang="ja" class="ja-text">ぶ</span> ⇒ ～<span xml:lang="ja" lang="ja" class="ja-text">んだ</span><br>
  ～<span xml:lang="ja" lang="ja" class="ja-text">す</span> ⇒ ～<span xml:lang="ja" lang="ja" class="ja-text">した</span><br>
  ～<span xml:lang="ja" lang="ja" class="ja-text">く</span> ⇒ ～<span xml:lang="ja" lang="ja" class="ja-text">いた</span><br>
  ～<span xml:lang="ja" lang="ja" class="ja-text">ぐ</span> ⇒ ～<span xml:lang="ja" lang="ja" class="ja-text">いだ</span></p>
</blockquote>

<h3>Class 2</h3>

<blockquote>
  <p>～<span xml:lang="ja" lang="ja" class="ja-text">る</span> ⇒ ～<span xml:lang="ja" lang="ja" class="ja-text">た</span></p>
</blockquote>

<h3>Class 3</h3>

<blockquote>
  <p><span xml:lang="ja" lang="ja" class="ja-text">する</span> ⇒ <span xml:lang="ja" lang="ja" class="ja-text">した</span><br>
  <span xml:lang="ja" lang="ja" class="ja-text">くる</span> ⇒ <span xml:lang="ja" lang="ja" class="ja-text">きた</span></p>
</blockquote>

<p>There was even a catchy song to go along with it!</p>

<p>One advantage of this method is that it kills two birds with one stone: you learn verb classification at the same time as you learn the past-tense conjugation. It also avoids confusing or intimidating new learners by throwing big words at them.</p>

<h2>五段【ごだん】 verbs and 一段【いちだん】 verbs</h2>

<p>On the other hand, the <span xml:lang="ja" lang="ja" class="ja-text"><ruby class="ruby-rp"><rb lang="ja" class="ja-text">五段</rb><rt lang="ja" class="ja-text">ごだん</rt></ruby></span>・<span xml:lang="ja" lang="ja" class="ja-text"><ruby class="ruby-rp"><rb lang="ja" class="ja-text">一段</rb><rt lang="ja" class="ja-text">いちだん</rt></ruby></span> distinction, like you noted, is derived from the number of different forms in the base <strong>stem forms</strong> of Japanese grammar -- a concept which second-language learners of Japanese usually are not even taught.</p>

<p>One advantage of this distinction is that the names actually describe something deeper about how the verbs work. But isn't it hard to guess the number of conjugations by looking at the verb? Actually, not really. Any verb that matches your "<span xml:lang="ja" lang="ja" class="ja-text">う</span>-verb" definition will have those five conjugations, always.</p>

<p>That's all the difference is.</p>
    </div>
